snippet #! "#!/usr/bin/env python3" b
#!/usr/bin/env python3
$0
endsnippet


snippet np "import numpy as np" b
import numpy as np
$0
endsnippet


snippet plt "import matplotlib.pyplot as plt" b
import matplotlib.pyplot as plt
$0
endsnippet


snippet pd "import pandas as pd" b
import pandas as pd
$0
endsnippet

snippet - "-->" m
--> $0
endsnippet

snippet # "#" m
# {{{
$0

# }}}
endsnippet


snippet ## "##" m
## {{{
$0

## }}}
endsnippet


snippet td "td" m
'''
- $0
'''
endsnippet
